/* @media screen and (min-width:1200px){
    .right_wir_2 p {
        padding-left: 150px;
    }
} */

@media screen and (max-width:1499px){
    .main_content_under_tab_3 {
        padding-right: 25%;
    }
    .das_team {
        height: 480px;
    }
    
}
@media screen and (max-width:1440px){
    /* .right_wir_2 {
        padding-right: 150px;
    }
    .left_wir_2.one_line:before {
        top: -185px;
    } */
}
@media screen and (max-width:1399px){
    /* .left_wir_2.one_line:before {
        top: -200px;
        height: 225px;
    } */
    .main_content_under_tab_3 {
        padding-right: 20%;
        padding-left: 100px;
    }
    .das_team {
        height: 500px;
    }
    .tab {
        padding-left: 60px;
    }
    .wir_bringen_inner:before {
        top: 241px;
        left: 18px;
    }
}
@media screen and (max-width:1320px){
    .wir_bringen_inner:before {
       position: unset;
    }

}
@media screen and (max-width:1199px) {
    .banner_content {
        padding: 220px 0;
    }
    .banner_inner_content p {
        font-size: 20px;
    }
    .banner_inner_content h1 {
        font-size: 70px;
        line-height: 75px;
    }
    .left_wir_2.one_line:before {
        top: -188px;
    }
    .arrow_down img {
        width: 30px;
    }
    .entdecken_section h2 {
        font-size: 60px;
    }
    ul.bottom_footer_links li a {
        font-size: 14px;
    }
    .wir_bringen_inner:before {
        width: 560px;
        top: 285px;
    }
    .wir_bringen_inner:after {
        height: 255px;
        top: 286px;
    }
    .right_wir_2 {
        padding-right: 0px;
    }
    .tab_left_parent {
        padding-left: 5%;
    }
    .tab {
        padding-left: 60px;
    }
    .main_content_under_tab_3 {
        padding-right: 15%;
        padding-left: 60px;
    }
    .das_team {
        height: 400px;
        margin-right: -50px;
    }
    .das_team_inner {
        left: 50px;
    }
    .content_technik {
        padding-left: 10px;
    }
    .left_wir_2.one_line:before {
        height: 235px;
    }
    .design_refrence_div:before {
        height: 320px;
        top: -40px;
    }
    .left_wir_2.second_line:after {
        height: 370px;
    }
    .left_wir_2.third_line:after {
        height: 365px;
    }
    .left_wir_2.four_line:after {
        height: 365px;
    }
    .left_wir_2.five_line:after {
        height: 289px;
    }
    .left_wir_2.last_line:before {

        height: 370px;
        top: -330px;
    }
    .scroll-content-box .das_team {
        margin-right: 0;
    }

    .scroll-tab-links {
        padding: 50px 0 50px 20px;
        width: 30%;
    }
}


@media screen and (max-width:991px) {
    .tab {
        position: unset;
    }
    .tabcontent {
        float: left;
    }
    li.nav-item {
        text-align: center;
        margin-left: 0px;
    }
    header {
        padding: 0;
        background-image: url(../images/mobile_bg_menu.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .wir_bringen_inner:before {
        position: unset;
    }
    .wir_bringen_inner {
        padding-left: 70px;
    }
    .wir_bringen_inner:after {
        height: 100px;
        top: 362px;
    }
    .left_wir_2 {
        padding-left: 90px;
        padding-bottom: 30px;
    }
    .design_refrence_div {
        padding-left: 90px;
    }
    .design_refrence_div:before {
        height: 450px;
        top: -175px;
    }
    .left_wir_2.second_line:after {
        height: 415px;
    }
    .left_wir_2.third_line:after {
        height: 415px;
    }
    .left_wir_2.four_line:after {
        height: 410px;
    }
    .left_wir_2.six_line:before {
        height: 130px;
        top: -86px;
    }
    .left_wir_2.last_line:before {
        height: 420px;
        top: -375px;
    }
    .entdecken_content {
        padding-left: 90px;
    }
    ul.bottom_footer_links {
        display: block;
    }
    ul.social_media_icon {
        padding-top: 25px;
    }
    .nav-item.contact_button a {
        display: inline-block;
    }
    li.nav-item {
        margin-bottom: 10px;
    }
    li.nav-item:first-child {
        margin-top: 20px;
    }
    .right_wir_2 {
        padding-left: 90px;
    }
    .design_refrence_div.in_second_roadmap {
        padding: 80px 0;
    }
  
    .tab {
        width: 35%;
    }
    .tabcontent {
        width: 55%;
    }
    .tab_left_parent {
        padding-left: 2%;
    }
    .tabcontent h1 {
        font-size: 45px;
        line-height: 46px;
    }
    .tabcontent h3 {
        font-size: 23px;
    }
    .das_team {
        height: 360px;
        margin-right: -90px;
    }
    .das_team_inner {
        left: 25px;
    }
    .das_team_inner p {
        font-size: 16px;
        font-weight: 400;
        color: #9399a4;
        margin-top: 25px;
        line-height: 25px;
    }
    .main_content_under_tab_3 {
        padding-right: 5%;
        padding-left: 40px;
    }
    .search_div i {
        right: 240px;
    }
    .tabcontent .h1para {
        font-size: 55px;
        line-height: 60px;
    }
    .mhcp-vertical-line {
        left: 75px;
    }
    .scroll-content-box .das_team {
        margin-right: 0;
    }

    .detail_page_wrapper {
        padding-left: 2%;
    }

    .scroll-content-box.tabcontent {
        width: 100%;
    }
    .scroll-tab-links{
        width:35%;
    }
    .scroll-tab-links ul li a{
        font-size:15px;
    }
    .tabcontent .h1para {
    font-size: 45px;
    line-height: 50px;
}
.mhcp-circle.c2 {
    top: 17.5%;
}
.mhcp-circle.c3 {
    top: 34%;
}
.mhcp-circle.c4 {
    top: 50%;
}
.mhcp-circle.c5 {
    top: 66.5%;
}
.mhcp-circle.c6 {
    top: 82.5%;
}
.mhcp-circle.c7 {
    top: 98.5%;
}
.mhcp-vertical-line {
    height: 83%;
}
.logoplusicon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #18253E;
    padding: 10px;;
}
.navbar-collapse.collapse.show .logoplusicon{
    background:red;
}
}

@media screen and (max-width:767px) {
    /* .banner_inner_content {
        text-align: center;
    } */
    .tab-scroll-content .main_content_under_tab_3{
        width: 100%;
        max-width: 100%;
    }
    .wir_bringen_inner {
        padding-top: 60px;
    }
    .wir_brigen_ai2main {
        padding: 120px 0;
    }
    .tab {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        float: unset;
        padding-left: 80px;
    }
    .tab_left_parent {
        padding-left: 0;
    }
    .tabcontent {
        margin: 0 auto;
        width: 95%;
        float: unset;
        margin-top: 50px;
    }
    .main_content_under_tab_3 {
        padding-right: 0;
        padding-left: 0;
    }
    .detail_page {
        padding-top: 150px;
    }
    .search_div i {
        right: 150px;
    }
    .das_team {
        height: 360px;
        margin-right: 0px;
    }
    .design_refrence_div:before {
        height: 470px;
        top: -195px;
    }
    .left_wir_2.second_line:after {
        height: 430px;
    }
    .left_wir_2.third_line:after {
        height: 430px;
    }
    .left_wir_2.four_line:after {
        height: 430px;
    }
    .left_wir_2.six_line:before {
        height: 145px;
        top: -103px;
    }
    .left_wir_2.last_line:before {
        height: 430px;
        top: -390px;
    }
    .mhcp-vertical-line {
        left: 65px;
    }
    .detail_page_wrapper.mob{
        display: block;
    }
    .detail_page_wrapper.desk{
        display: none;
    }
    .tabcontent .h1para {
        font-size: 36px;
        line-height: 45px;
    }
    .mhcp-circle.c4 {
        top: 51%;
    }
    .mhcp-circle.c5 {
        top: 67.5%;
    }
    .mhcp-circle.c6 {
        top: 84.5%;
    }
    .mhcp-circle.c7 {
        top: 100%;
    }
}

@media screen and (max-width:575px) {
   
    ul.social_media_icon li a {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
    .banner_inner_content h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .wir_bringen_inner h2 {
        font-size: 35px;
        margin-bottom: 35px;
    }
    .left_wir_2 {
        padding-left: 70px;
        padding-bottom: 30px;
    }
    .design_refrence_div {
        padding-left: 70px;
    }
    .entdecken_content {
        padding-left: 35px;
    }
    .entdecken_section h2 {
        font-size: 40px;
    }
    .service h2 {
        font-size: 35px;
    }
    .footer_logo img {
        max-width: 160px;

    }
    .right_wir_2 {
        padding-left: 70px;
    }
    .right_side_footer p i {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
    .search_div i {
        right: 5%;
    }
    li.nav-item {
        text-align: center;
        margin-left: 0;
    }
    .accordion-button {
        padding-left: 30px;
        padding-top: 30px;
    }
    .accordion-body {
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .mhcp-vertical-line {
        left: 40px;
    }
    .das_team_inner p br {
        display: none;
    }
    .search_div {
        width: fit-content;
        margin: 0px auto;
        margin-bottom: 40px;
    }
    ul.navbar-nav {
        height: 100vh;
    }
}
@media screen and (max-width:503px)
{
    .design_refrence_div:before {
        height: 485px;
        top: -210px;
    }
    .left_wir_2.second_line:after {
        height: 452px;
    }
    .left_wir_2.third_line:after {
        height: 450px;
    }
    .left_wir_2.four_line:after {
        height: 450px;
    }
    .left_wir_2.six_line:before {
        height: 165px;
        top: -124px;
    }
    .left_wir_2.last_line:before {
        height: 450px;
        top: -410px;
    }
}
@media screen and (max-width:442px)
{
    .design_refrence_div:before {
        height: 506px;
        top: -232px;
    }
    .left_wir_2.second_line:after {
        height: 480px;
    }
    .left_wir_2.third_line:after {
        height: 470px;
    }
    .left_wir_2.four_line:after {
        height: 475px;
    }
    .left_wir_2.five_line:after {
        height: 311px;
    }
    .left_wir_2.last_line:before {
        height: 470px;
        top: -430px;
    }
}

@media screen and (max-width:400px)
{
    ul.social_media_icon li {
        margin-right: 15px;
    }
    ul.social_media_icon li a {
        width: 30px;
        height: 30px;
    }
    .right_side_footer h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    a.navbar-brand img {
        max-width: 160px;
    }
}
@media screen and (max-width:376px){
    .design_refrence_div:before {
        height: 530px;
        top: -256px;
    }
    .left_wir_2.second_line:after {
        height: 500px;
    }
    .left_wir_2.third_line:after {
        height: 495px;
    }
    .left_wir_2.four_line:after {
        height: 495px;
    }
    .left_wir_2.six_line:before {
        height: 190px;
        top: -147px;
    }
    .left_wir_2.last_line:before {
        height: 505px;
        top: -455px;
    }

}