@media screen and (max-width:1499px){
    .main_content_under_tab_3 {
        padding-right: 25%;
    }
    .das_team {
        height: 480px;
    }
    .das_team_inner {
        top: 100px;
    }
}
@media screen and (max-width:1440px){
    .right_wir_2 {
        padding-right: 150px;
    }
    .left_wir_2.one_line:before {
        top: -185px;
    }
}
@media screen and (max-width:1399px){
    .left_wir_2.one_line:before {
        top: -200px;
        height: 225px;
    }
    .main_content_under_tab_3 {
        padding-right: 20%;
        padding-left: 100px;
    }
    .das_team {
        height: 500px;
    }
}

@media screen and (max-width:1199px) {
    .banner_content {
        padding: 220px 0;
    }
    .banner_inner_content p {
        font-size: 20px;
    }
    .banner_inner_content h1 {
        font-size: 70px;
        line-height: 75px;
    }
    .left_wir_2.one_line:before {
        top: -188px;
    }
    .arrow_down img {
        width: 30px;
    }
    .entdecken_section h2 {
        font-size: 60px;
    }
    ul.bottom_footer_links li a {
        font-size: 14px;
    }
    .wir_bringen_inner:before {
        width: 560px;
        top: 285px;
    }
    .wir_bringen_inner:after {
        height: 255px;
        top: 286px;
    }
    .right_wir_2 {
        padding-right: 0px;
    }
    .tab_left_parent {
        padding-left: 5%;
    }
    .tab {
        padding-left: 60px;
    }
    .main_content_under_tab_3 {
        padding-right: 15%;
        padding-left: 60px;
    }
    .das_team {
        height: 400px;
        margin-right: -50px;
    }
    .das_team_inner {
        top: 60px;
        left: 50px;
    }
    .content_technik {
        padding-left: 10px;
    }
}


@media screen and (max-width:991px) {
    .wir_bringen_inner:before {
        position: unset;
    }
    .wir_bringen_inner {
        text-align: center;
        padding-left: 0;
    }
    .wir_bringen_inner:after {
        height: 100px;
        top: 362px;
    }
    .left_wir_2 {
        padding-left: 90px;
        padding-bottom: 30px;
    }
    .design_refrence_div {
        padding-left: 90px;
    }
    .design_refrence_div:before {
        height: 220px;
        top: 0px;
    }
    .left_wir_2.second_line:after {
        height: 35px;
    }
    .entdecken_content {
        padding-left: 90px;
    }
    ul.bottom_footer_links {
        display: block;
    }
    ul.social_media_icon {
        padding-top: 25px;
    }
    .nav-item.contact_button a {
        display: inline-block;
    }
    li.nav-item {
        margin-bottom: 10px;
    }
    li.nav-item:first-child {
        margin-top: 20px;
    }
    .right_wir_2 {
        padding-left: 90px;
    }
    .design_refrence_div.in_second_roadmap {
        padding: 80px 0;
    }
    header {
        background: #0c1934;
    }
    .tab {
        width: 35%;
    }
    .tabcontent {
        width: 55%;
    }
    .tab_left_parent {
        padding-left: 2%;
    }
    .tabcontent h1 {
        font-size: 45px;
        line-height: 46px;
    }
    .tabcontent h3 {
        font-size: 28px;
    }
    .das_team {
        height: 360px;
        margin-right: -90px;
    }
    .das_team_inner {
        top: 30px;
        left: 25px;
    }
    .das_team_inner p {
        font-size: 16px;
        font-weight: 400;
        color: #9399a4;
        margin-top: 25px;
        line-height: 25px;
    }
    .main_content_under_tab_3 {
        padding-right: 5%;
        padding-left: 40px;
    }
    .search_div i {
        right: 240px;
    }
    .tabcontent .h1para {
        font-size: 55px;
        line-height: 60px;
    }
}

@media screen and (max-width:767px) {
    .banner_inner_content {
        text-align: center;
    }
    .wir_bringen_inner {
        padding-top: 60px;
    }
    .wir_brigen_ai2main {
        padding: 120px 0;
    }
    .tab {
        width: 95%;
        margin: 0 auto;
        float: unset;
    }
    .tab_left_parent {
        padding-left: 0;
    }
    .tabcontent {
        margin: 0 auto;
        width: 95%;
        float: unset;
        margin-top: 50px;
    }
    .main_content_under_tab_3 {
        padding-right: 0;
        padding-left: 0;
    }
    .detail_page {
        padding-top: 150px;
    }
    .search_div i {
        right: 150px;
    }
    .das_team {
        height: 360px;
        margin-right: 0px;
    }
}

@media screen and (max-width:575px) {
   
    ul.social_media_icon li a {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
    .banner_inner_content h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .wir_bringen_inner h2 {
        font-size: 35px;
        margin-bottom: 35px;
    }
    .left_wir_2 {
        padding-left: 70px;
        padding-bottom: 30px;
    }
    .design_refrence_div {
        padding-left: 70px;
    }
    .entdecken_content {
        padding-left: 35px;
    }
    .entdecken_section h2 {
        font-size: 40px;
    }
    .service h2 {
        font-size: 35px;
    }
    .footer_logo img {
        max-width: 160px;

    }
    .right_wir_2 {
        padding-left: 70px;
    }
    .right_side_footer p i {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
    .search_div i {
        right: 32%;
    }
}

@media screen and (max-width:400px)
{
    ul.social_media_icon li {
        margin-right: 15px;
    }
    ul.social_media_icon li a {
        width: 30px;
        height: 30px;
    }
    .right_side_footer h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    a.navbar-brand img {
        max-width: 160px;
    }
}