html {
	scroll-behavior: smooth;
  }
  p{
    font-family: "DM Sans", sans-serif;
  }
  a{
    font-family: "DM Sans", sans-serif;
  }
  span
  {
    font-family: "DM Sans", sans-serif;
  }
  h1
  {
    font-family: "Space Grotesk", sans-serif;
  }
  h2
  {
    font-family: "Space Grotesk", sans-serif;
  }
  h3
  {
    font-family: "Space Grotesk", sans-serif;
  }
  h4{
    font-family: "Space Grotesk", sans-serif;
  }

  a.navbar-brand img {
    width: 100%;
    max-width: 180px;
    padding-left: 10px;
}
.heaedplus_banner {
    background-image: url(../images/main_bg_here.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #02083c;
    background-position: top left;
    position: relative;
}
li.nav-item a {
    color: #F5F2E8;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}
li.nav-item a:hover {
    color: #7a8897;
}
header {
    position: fixed;
    backdrop-filter: blur(50px);
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 10px 20px;
    background: #ffffff0d;
  
}
li.nav-item {
    margin-left: 20px;
}
.banner_content {
    padding: 280px 0;
	position: relative;
    height: 100vh;
}
.banner_inner_content p {
    color: #F5F2E8;
    font-weight: lighter;
    font-size: 27px;
    margin-bottom: 25px;
}
.banner_inner_content h1 {
    color: #F5F2E8;
    font-weight: bold;
    font-size: 96px;
    line-height: 95px;
}
.arrow_down img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 50px;
    width: 56px;
	cursor: pointer;
}
.wir_brigen_ai p.uper_paragraph {
    color: #D25008;
    font-weight: 400;
}
.wir_bringen_inner h2 {
    font-size: 40px;
    font-weight: 500;
    color: #f5f2e8;
	margin-bottom: 45px;
}
.wir_bringen_inner p {

    color: #fff;
}
/* .nav-item.contact_button .nav-link{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
} */
.wir_brigen_ai {
    /* background-image: url(../images/video_in_bg_img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    padding-top: 60px;
    padding-bottom: 120px;
}
.wir_bringen_inner {
    padding-left: 160px;
	padding-top: 120px;
    position: relative;

}
.wir_brigen_ai2main {

    padding: 180px 0;
    position: relative;
 
}
.uper_para_wir p {
    font-weight: bold;
    color: #fff;
}
.uper_para_wir h2 {
    font-weight: 500;
    color: #fff;
}
.right_wir_2 p {
    color: #fff;
    font-weight: 400;
}
.design_refrence_timeline {
    color: #D25008;
    font-weight: bold;
    font-size: 22px;
    opacity: 0;
	
}
.design_refrence_div {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 160px;
    position: relative;
}
.design_refrence_div.in_second_roadmap {
    padding: 120px 0;
    visibility: hidden;
}
.left_wir_2 {
    padding-left: 160px;
}
.wir_brigen_wrapper {
    position: relative;
    z-index: 0;
}
/* .wir_brigen_wrapper img {
    position: absolute;
    left: 350px;
    top: 340px;
    max-width: 470px;
} */
.entdecken_section {
    /* padding: 120px 0; */
    position: relative;
    height: 448px;
}
.entdecken_section h2 {
    color: #fff;
    font-size: 69px;
    font-weight: bold;
	margin-bottom: 20px;
}
/* .entdecken_section
{
	background-image: url(../images/entdeckan1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
.entdecken_content {
    padding-left: 180px;
}
.entdecken_content a {
    color: #F5F2E8;
    font-size: 18px;
    text-decoration: none;
    border: 3px solid #f5f2e8;
    border-radius: 5px;
    padding: 7px 14px;
    font-weight: 500;
    transition: all 0.4s;
}
.service {
    padding: 120px 0;
    background: #0C1934;
    padding-top: 180px;
}
.service_card h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 500;
}
.service_card p {
    color: #fff;
    font-size: 16px;
}
.service h2 {
    font-size: 40px;
    color: #ffff;
    font-weight: 500;
}
.service_card {
    padding-top: 160px;
    padding-bottom: 60px;
    padding-left: 30px;
    border-radius: 5px;
    background: linear-gradient(316deg, rgba(25, 37, 62, 1) 38%, rgba(40, 51, 73, 1) 100%);
	cursor: pointer;
	transition: all 0.4s;
}
.service_card:hover{
	background-image: url(../images/service_after.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h2.faq_h2 {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 40px;
    padding-left: 20px;
}
.faq {
    background: #1d2942;
    padding-top: 120px;
    padding-bottom: 240px;
    background-image: url(../images/faq_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.accordion-item:first-of-type .accordion-button {
    font-size: 16px;
    color: #F5F2E8;
	box-shadow: unset;
    border-radius: 10px 10px 0px 0px;
 
}

.accordion-button {
	font-size: 16px;
    color: #F5F2E8;
    background-color: transparent;
	border: unset;
	outline: unset;
	box-shadow: unset;
    padding-left: 40px;
    padding-top: 40px;
    border-radius: 10px 10px 0px 0px;
}
.accordion-item {
    margin-bottom: 10px;
    border: unset;
	color: #f5f2e8;
    background-color: transparent;
}
.accordion-button:not(.collapsed) {
    background-color: #0C1934;
    box-shadow:unset;
	color: #fff;
}
.accordion-body {
    background: #0c1934;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 0px 0 10px 10px;
}
.accordion-button:focus {
    box-shadow: unset;
}
.accordion-button::after {
    background-image:url(../images/plus.png);
}
.accordion-button:not(.collapsed)::after {
    background-image:url(../images/minus.png);
}
footer {
    padding: 60px 0;
    padding-bottom: 30px;
    background: #fff;
}


.uper_footer_links ul {
    display: flex;
    padding: 0;
    margin-bottom: 40px;
}

.uper_footer_links ul li {
    list-style: none;
    margin-right: 20px;
}

.uper_footer_links ul li a {
    text-decoration: none;
    color: #000;
}

.footer_logo img {
    max-width: 180px;
    margin-bottom: 30px;
}
.bottom_address p:first-child {margin-bottom: 6px;}

.bottom_address p:first-child b {
    text-decoration: underline;
}
.bottom_address {
	margin-top: 30px;
}
.copy_right {
    margin-top: 30px;
}
.right_side_footer h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
}
ul.social_media_icon {
    padding: 0;
    list-style: none;
    display: flex;
	padding-top: 100px;
}
ul.social_media_icon li {
    margin-right: 20px;
}
ul.social_media_icon li a {
    color: #000;
    border: 1px solid #00000026;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.4s;
}
ul.social_media_icon li a:hover {
    background: #000;
    color: #fff;
}
ul.bottom_footer_links {
    display: flex;
    padding: 0;
    list-style: none;
	padding-top: 15px;
}
ul.bottom_footer_links li {
    margin-right: 5px;
}
ul.bottom_footer_links li a {
    text-decoration: none;
    color: #000;
}
.nav-item.contact_button a {
    background-image: linear-gradient(to right, #A9682F 0%, #9BAAB0 30%, #143C8C 100%);
    border-radius: 14px;
    display: block;
    margin: 0 auto;
    padding-left: 4px!important;
    padding-right: 4px!important;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 106px;
    height: 38px;
    z-index: 2;
    border-width: 0px;
    font-size: 16px;
    font-weight: 500;
}
.entdecken_content a:hover {
    background: #fff;
    color: #000;
}
.uper_footer_links ul li a.active_border {
    border-bottom: 1px solid;
}

.nav-item.contact_button a span {
    align-items: center;
    background: #02083c;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    height: 100%;
    color: #fff;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.9s ease;
}
.nav-item.contact_button a span:hover {
    background-image: linear-gradient(to right, #A9682F 0%, #9BAAB0 30%, #143C8C 100%);
}
.mhcp-vertical-line:After {
    content: "";
    position: absolute;
    top: calc(-21% - -62px);
    height: 18.5%;
    width: 4px;
    background: #fff;
}
.wir_bringen_inner:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: #fff;
    top: 240px;
    left: 109px;
    max-width: 530px;
}


.wir_brigen_ai2main {
    padding: 180px 0;
    position: relative;
    max-width: 1320px;
    margin: auto;
}



.mhcp-vertical-line {
    background: #F4F4F4;
    border-radius: 24px;
    width: 4px;
    margin: 0 auto;
    height: 85%;
    position: absolute;
    top: 215px;
    left: 120px;
    right: auto;
    background: #42484f;;
}
.mhcp-rectangle {
    width: 4px;
    background: #fff;
    border-radius: 0;
    content: "";
    height: 550px;
    display: flex;
    justify-content: center;
}
.mhcp-circle.active {
    box-shadow: 0 0 28px #2c76f0;
  background-color: #fff;
  transform: scale(1.1);
}

    .mhcp-circle.c1 {
        top: 0%;
    }

    .mhcp-circle.c2 {
        top: 15.5%;
    }
.mhcp-circle.c3 {
    top: 32%;
}
.mhcp-circle.c4 {
    top: 48.5%;
}
.mhcp-circle.c5 {
    top: 65%;
}
.mhcp-circle.c6 {
    top: 81.5%;
}
.mhcp-circle.c7 {
    top: 98%;
}
.mhcp-rectangle .mhcp-circle {
    position: absolute;
    content: "";
    border-radius: 50%;
    left: auto;
    right: auto;
    width: 55px;
    height: 55px;
    background-color: #F5F2E8;
    border: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000;
    font-weight: 700;
    transition: all 0.4s;

}
/* timeline css close */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-toggler-icon {
    filter: invert(1);
}

.blog_page_wrapper {
    background: #0C1934;
    padding: 200px 0;
}
.right_side_footer p i {
    color: #000000cf;
    border: 1px solid #00000026;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.4s;
    cursor: pointer;
    margin-left: 10px;
}

.navbar-brand:focus-visible {
    outline: unset;
}
.round_btns {
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
}
.round_btns .button_round_1 {
    background: #2A2C3D;
    border-radius: 18px;
    color: #F5F2E8;
    padding: 6px 26px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    /* border: 2px solid #fff; */
}
.round_btns .button_round_2 {
    background: #2A2C3D;
    border-radius: 18px;
    color: #b6b5b5;
    padding: 6px 26px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}


.search_card {
    background-image: url(../images/search_new_bg.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
    position: sticky;
    top: 200px;
    z-index: 1;
}

.search_div input {
    background: #4B5464;
    padding: 8px;
    outline: none;
    border: 2px solid #f5f2eb;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 2px #000);
}
.search_div {
    margin-bottom: 40px;
    position: relative;
}
.search_div i {
    position: absolute;
    right: 45px;
    top: 15px;
    color: #fff;
}
.round_btns > div:first-child {
    margin-right: 15px;
}

.search_div input::placeholder {
    color: #fff;
}

.content_technik h3 {
    color: #F5F2E8;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 20px;
}

.content_technik p {
    color: #fff;
    font-weight: 300;
}
.image_technik {
    position: relative;
}
.image_technik img{
    width: 100%;
}
.image_technik a {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #F5F2E8;
    background: #00000069;
    font-size: 14px;
    border: 1px solid;
    border-radius: 20px;
    text-decoration: none;
    padding: 2px 15px;
}
.content_technik {
    padding: 60px 20px;
    background: linear-gradient(267deg, rgba(25, 37, 62, 1) 38%, rgba(40, 51, 73, 1) 100%);
    padding-left: 50px;
    transition: all 0.4s;
}

.blog_img_bottom {
    text-align: center;
    position: fixed;
    bottom: -60px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -0;
}


.detail_page{
    background: #0C1934;
    padding-top:150px ;
}

.tab {
    float: left;
    width:25%;
    height: auto;
    background: linear-gradient(267deg, rgba(25, 37, 62, 1) 38%, rgba(40, 51, 73, 1) 100%);
    padding: 50px 0px;
    padding-left: 85px;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
}
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: #a8adb6;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
 
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: unset;
    color: #fff;
}
.tab button.active.tablinks:before
{
    background:#fff;
}
.tabcontent {
    color: #fff;
}
  /* Style the tab content */
  .tabcontent {
    float: right;
    padding: 0px 12px;
    width: 67%;
    border-left: none;
  }


  .tab .tablinks:first-child {
    position: relative;
}
.tab .tablinks:nth-child(2) {
    position: relative;
}
.tab .tablinks:nth-child(3) {
    position: relative;
} 
 .tab .tablinks:nth-child(4) {
    position: relative;
}
.tab .tablinks:nth-child(5) {
    position: relative;
}
.tab .tablinks:nth-child(6) {
    position: relative;
}
.tab .tablinks:nth-child(7) {
    position: relative;
}

.tab .tablinks:first-child:before {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #9399a4;
    content: '';
    border-radius: 50%;
    left: -35px;
    top: 5px;
}
.tab .tablinks:first-child:after {
    position: absolute;
    width: 2px;
    height: 21px;
    background: #9399a4;
    content: '';
    border-radius: unset;
    left: -28px;
    top: 25px;
}

.tab .tablinks:nth-child(2):before {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #9399a4;
    content: '';
    border-radius: 50%;
    left: -35px;
    top: 5px;
}
.tab .tablinks:nth-child(2):after {
    position: absolute;
    width: 2px;
    height: 21px;
    background: #9399a4;
    content: '';
    border-radius: unset;
    left: -28px;
    top: 25px;
}

.tab .tablinks:nth-child(3):before {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #9399a4;
    content: '';
    border-radius: 50%;
    left: -35px;
    top: 5px;
}
.tab .tablinks:nth-child(3):after {
    position: absolute;
    width: 2px;
    height: 21px;
    background: #9399a4;
    content: '';
    border-radius: unset;
    left: -28px;
    top: 25px;
}
.tab .tablinks:nth-child(4):before {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #9399a4;
    content: '';
    border-radius: 50%;
    left: -35px;
    top: 5px;
}
.tab .tablinks:nth-child(4):after {
    position: absolute;
    width: 2px;
    height: 21px;
    background: #9399a4;
    content: '';
    border-radius: unset;
    left: -28px;
    top: 25px;
}
.tab .tablinks:nth-child(5):before {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #9399a4;
    content: '';
    border-radius: 50%;
    left: -35px;
    top: 5px;
}
.tab .tablinks:nth-child(5):after {
    position: absolute;
    width: 2px;
    height: 21px;
    background: #9399a4;
    content: '';
    border-radius: unset;
    left: -28px;
    top: 25px;
}
.tab .tablinks:nth-child(6):before {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #9399a4;
    content: '';
    border-radius: 50%;
    left: -35px;
    top: 5px;
}
.tab .tablinks:nth-child(6):after {
    position: absolute;
    width: 2px;
    height: 21px;
    background: #9399a4;
    content: '';
    border-radius: unset;
    left: -28px;
    top: 25px;
}
.tab .tablinks:nth-child(7):before {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #9399a4;
    content: '';
    border-radius: 50%;
    left: -35px;
    top: 5px;
}

.tabcontent .h1para {
    font-size: 69px;
    font-weight: bold;
    color: #fff;
    line-height: 70px;
    margin-top: -10px;
}


.tabcontent h3 {
    font-size: 36px;
    font-weight: 400;
    color: #9399a4;
    margin-top: 55px;
}
.tabcontent h3 span {
    color: #fff;
}
.tabcontent p {
    font-size: 16px;
    font-weight: 400;
    color: #9399a4;
    margin-top: 25px;
    line-height: 30px;
}
.tabcontent p span {
    color: #fff;
}

.content_for_ul_deatail {
    margin-top: 55px;
}

.content_for_ul_deatail p {
    margin-top: 25px;
}
ul.ul_detail_one {
    margin-top: 25px;
    padding-left: 15px;
}
ul.ul_detail_one li {
    margin-bottom: 15px;
    color: #878d9a;
}
.content_for_ul_deatail.c_f_u_detail2 .ul_detail_one {
    list-style: none;
    padding-left: 0;
}

.das_team_btn a {
    color: #F5F2E8;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid #f5f2e8;
    border-radius: 5px;
    padding: 8px 20px;
    display: inline-block;
}
.das_team_btn a:hover{
    color: #000;
    background-color: #fff;
}

.das_team {
    margin-top: 110px;
    background-image: url(../images/das_team_img.png);
    background-size: 100% 100%;
    height: 430px;
    background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
    object-fit: cover;
}
.das_team_inner {
    position: absolute;
    top: 48%;
    left: 100px;
    transform: translateY(-50%);
}
.das_team_btn {
    margin-top: 25px;
}
.das_team_inner
.tabcontent h2 {
    font-size: 36px;
    padding-left: 0;
}
.das_team_inner .tabcontent p {
    font-size: 16px;
    font-weight: 400;
    color: #9399a4;
    margin: 20px 0;
    line-height: 24px;
}

.main_content_under_tab_3 {
    padding-right: 40%;
    padding-left: 150px;
}

.tab_left_parent {
    padding-left: 10%;
}
.main_content_under_tab_3.mcut_2 {
    margin-top: 55px;
    padding-bottom: 100px;
}


.content_for_ul_deatail h4 {
    text-transform: capitalize;
}
ul.ul_detail_one li b {
    color: #ffffffb3;
    font-weight: 500;
}
.content_for_ul_deatail p b{
    color: #ffffffb3;
    font-weight: 500;
}

.detail_page_wrapper{
    position: relative;
}
.detail_page_wrapper::before {
    position: fixed;
    content: '';
    height: 802px;
    width: 200px;
    right: 0;
    background-image: url(../images/detail_side_img.png);
    background-repeat: no-repeat;
    z-index: -1;
    top: 75px;
}
.content_technik a {
    text-decoration: none;
}
.image_technik a:hover {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
}
.content_technik:hover {
    background-color: #2a2a3c;
}
.tabcontent h2 {
    font-size: 36px;
    padding-left: 30px;
}
.right_wir_2 b a {
    color: #fff;
}



.navbar-toggler-icon {

    background-image:url(../images/cross_black.png);
    width: 30px;
}

.navbar-toggler.collapsed .navbar-toggler-icon{
    background-image:url(../images/hamburger.png);
    width: 30px;
}

body{
    width:100%!important;
    overflow-x: hidden!important;
}

.wir_bringen_inner p a {
    color: #fff;
}


video.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    z-index: -1;
}



.scroll-blur {
    transition: filter 0.3s ease; /* Add a transition for smooth effect */
}

.blur {
    filter: blur(100px); /* Apply blur effect */
}
.wir_brigen_ai p.uper_paragraph {
    color: #D25008;
    font-weight: 400;
    opacity: 0;
}

.timeline-inverted
{
    display: none;
}





/* detail page css */

      /* Navigation */

      .scroll-tab-links {
        top: 150px;
        float: left;
        width: 25%;
        height: auto;
        background: linear-gradient(267deg, rgba(25, 37, 62, 1) 38%, rgba(40, 51, 73, 1) 100%);
        padding: 50px 0px 50px 50px;
        border-radius: 5px;
        position: fixed;
        z-index: 1;
    }

    .scroll-tab-links ul {
        margin: 0 auto;
        list-style: none;
        padding: 0;
        margin-left: 25px;
    }

    .scroll-tab-links ul li {
        display: block;
        margin: 0 10px;
        position: relative;
    }

    .scroll-tab-links ul li a {
        display: inline-block;
        background-color: inherit;
        color: #a8adb6;
        width: auto;
        border-bottom: 2px solid transparent;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 16px;
        margin-bottom: 20px;
        text-decoration: none;
    }

    .scroll-tab-links ul li a:hover {
        color: #fff;
    }

    .scroll-tab-links ul li.active a {
        color: #fff;
    }

    /* Scroll Content Boxes */

    .scroll-content-box {
        width: 100%;
        min-height: 450px;
        padding-bottom: 60px;
        padding-top: 150px;
    }
    .detail_page_wrapper {
        padding-left: 10%;
    }

    .tab-scroll-content {
        padding-left: 40%;
    }

    .scroll-tab-links ul li:before {
        position: absolute;
        width: 15px;
        height: 15px;
        background: #9399a4;
        content: '';
        border-radius: 50%;
        left: -35px;
        top: 5px;
    }

    .scroll-tab-links ul li:not(:last-child):after {
        position: absolute;
        width: 2px;
        height: 25px;
        background: #9399a4;
        content: '';
        border-radius: unset;
        left: -29px;
        top: 24px;
    }

    .scroll-tab-links ul li.active:before {
        background: #fff;
    }

    .tab-scroll-content .main_content_under_tab_3 {
        padding: 0;
        max-width: 500px;
    }

    h2.scroll-tab-heading {
        font-family: 'Space Grotesk';
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        color: rgb(255 255 255 / 70%);
        margin-bottom: 15px;
    }
    .tab-scroll-content > .scroll-content-box:last-child {
        min-height: calc(100vh - 15px);
    }
 /* end */



  /**mob**/
  .detail_page_wrapper.mob .scroll-tab-links {
    position: fixed;
    width: 100%;
    top: 100px;
    padding: 20px;
    max-width: 98%;
    left: 50%;
    transform: translateX(-50%);
}

.mob .tab-scroll-content {
    padding: 0;
}

.detail_page_wrapper.mob {
    padding: 0;
}

.mob .scroll-tab-links ul {
    display: none;
    padding: 30px 0 0;
}

.mob .scroll-tab-links ul.open {
    display: block;
}

.mob h2.scroll-tab-heading {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.detail_page_wrapper.mob:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 124px;
    background: #0c1934;
    z-index: 0;
}
.detail_page_wrapper.mob .scroll-content-box {
    width: 100%;
    min-height: auto;
    padding-bottom: 30px;
    padding-top: 0;
}
.detail_page_wrapper.mob{
    display: none;
}
 /* .mhcp-vertical-line:After {
    content: "";
    position: absolute;
    top: calc(-17% - 8px);
    height: 17%;
    width: 2px;
    background: red;
} */
.tab-scroll-content > .scroll-content-box:first-child {
    padding-top: 0;
}

.mobile_header_color{
    background-image: url(../images/mobile_bg_menu.png)!important;
    background-size: cover!important;
    background-position:center!important;

}
.image_technik img {
    border-radius: 5px 5px 0px 0;
}
.content_technik{
    border-radius: 0px 0px 5px 5px;
}


.entdecken_section img {
    width: 100%;
    height: 100%;
}

.entdecken_section .container {
    position: absolute;
    top: 50%;
    height: 448px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.entdecken_section .container .row {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}